@use '@angular/material' as mat;

mat-toolbar {
  @include mat.toolbar-overrides((container-background-color: var(--mat-sys-surface),
      container-text-color: var(--mat-sys-on-surface),
    ));
}

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}